ALLOWED_EMAIL_DOMAINS=
APP_ENV=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
SUPABASE_DATA_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=
SUPABASE_STORAGE_URL=
SUPABASE_URL=
VITE_APP_URL=
VITE_ENABLE_AUTH=
VITE_ENABLE_FILE_UPLOADS=
VITE_ENABLE_SUPABASE=
VITE_RESEND_API_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLIC_MEDIA_URL=